body {
  background-color: lightgrey
}

body {
  font-family: Verdana
}

body {
  font-size: 1.7rem
}

img {
  width: 200px
}

p {
  color: brown
}

p {
  font-style: Verdana
}

p {
  font-size: 1.2rem
}